body{
	margin: 0 auto;
	font-size: 100%;
	height: 1180px;
}

/* 상단 */

.main{
	width: 100%;
	border-bottom: 1px solid gray;
	height: 70px;
	background-color: skyblue;
}

.main main{
	margin: 0 auto;
	width: 1080px;
	font-size: 25px;
	padding-top: 15px;
	color: white;
	overflow: hidden;
}

.main main input[type="search"]{
	height: 34px;
	margin-left: 20px;
	width: 300px;
	border-radius: 5px 0 0 5px;
	border: 1px solid gray;
	vertical-align: middle;
	padding-left: 10px;
}

.main main a{
	text-decoration: none;
	color: white;
}

.main main a:hover{
	color: black;
}

.main main a img{
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	vertical-align: middle;
	width: 35px;
	height: 32px;
	border-radius: 0 5px 5px 0;
}

.main main .mainsearch{
	margin-left: 20px;
	border: 1px solid gray;
	padding: 3px;
	font-size: 20px;
	height: 30px;
	vertical-align: middle;
	border-radius: 10px;
	background-color: white;
	color: dimgray;
}

.main main .mainlog{
	float: right;
	font-size: 18px;
	border: 1px solid white;
	margin-top: 5px;
	background-color: dimgray;;
	margin-top: 3px;
	padding: 3px;
	border-radius: 5px;
}

/* 상단 */

/* 중단 */

.backbody{
	width: 1080px;
	height: 1110px;
	margin: 0 auto;
}

.con1{
	height: 310px;
	width: 1080px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #f8f9fa;
}

.con1 .cont1{
	width: 700px;
	height: 100%;
	float: left;
}

.con1 .cont1 ul{
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;;
	padding: 0;
}

.con1 .cont1 ul li a img{
	height: 310px;
	width: 220px;
	border-radius: 10px;
}

.con1 .cont1 ul li a img:hover{
	transform: scale(0.9);
}

.con1 .cont2{
	width: 365px;
	height: 100%;
	float: right;
	text-align: center; 
}

.con1 .cont2 a{
	text-decoration: none; 
}

.con1 .cont2 a img{
	width: 250px;
	height: 250px;
	border-radius: 20px;
	border: 2px solid gray;
	margin-top: 24px;
	padding: 3px;
	transition: transform 0.2s ease-in;
}

.con1 .cont2 a img:hover{
	transform: scale(1.1)
}

.con2{
	height: 775px;
	width: 100%;
	overflow: hidden;
}

.con2 .cont3{
	width: 700px;
	height: 100%;
	float: left;
	margin-top: 25px;
}

.con2 .cont3 .cont3text{
	font-size: 25px;
	text-align: center;
	color: gray;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.con2 .cont3 .list ul{
	list-style: none;
	padding: 0;
}

.con2 .cont3 .list ul li{
	padding-bottom: 10px;
}

.con2 .cont3 .list ul li:hover{
	border: 1px solid gray;
}

.con2 .cont3 .list ul li a img{
	width: 700px;
}

.con2 .cont3 .cont3-1 .cont3-text{
	float: right;
	height: 130px;
	width: 550px;
	padding-top: 30px;
}

.con2 .cont3 .cont3-1 .cont3-text:hover{
	text-decoration: underline;
}

.con2 .cont3 .cont3-1 img{
	height: 130px;
	width: 130px;
	border-radius: 10px;
	float: left;
	margin-bottom: 30px;
	transition: transform 0.2s ease-in;
}

.con2 .cont3 .cont3-1 img:hover{
	transform: scale(0.9);
}

.con2 .con2-1{
	width: 365px;
	height: 100%;
	float: right;
}

.con2 .con2-1 .cont4{
	border-bottom: 1px solid gray;
}

.con2 .con2-1 .cont4 .login{
    text-align: center;
	margin-top: 15px;
	padding-bottom: 20px;
}

.con2 .con2-1 .cont4 .login .log{
	text-decoration: none;
	font-size: 25px;
	background-color: skyblue;
	color: white;
	padding-right: 60px;
	padding-left: 60px;
	border-radius: 10px;
}

.con2 .con2-1 .cont4 .login .idpassword{
	overflow: hidden;
	margin-top: 20px;
}

.con2 .con2-1 .cont4 .login .idpassword a{
	color: dimgrey;
	text-decoration: none;
	font-size: 16px;
}

.con2 .con2-1 .cont4 .login .idpassword a:hover{
	color: black;
	background: gainsboro;
}

.con2 .con2-1 .cont4 .login .idpassword .spanspace{
	padding-right: 90px;
	border: 1px solid white;
}

.con2 .con2-1 .cont5{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}

.con2 .con2-1 .cont5 img{
	height: 280px;
	width: 280px;
	border-radius: 20px;
	border: 3px solid gray;
	transition: transform 0.2s ease-in;
}

.con2 .con2-1 .cont5 img:hover{
	transform: scale(1.1);
}

.con2 .con2-1 .cont6{
	margin-top: 20px;
	text-align: center;
}

.con2 .con2-1 .cont6 img{
	height: 280px;
	width: 330px;
	transition: transform 0.2s ease-in;
}

.con2 .con2-1 .cont6 img:hover{
	transform: scale(1.1);
}

/* 중단 */